@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="loginForm">
    <div>
        <form method="post" asp-action="Login" asp-controller="Account">
            <a asp-action="Register" asp-controller="Account">Register</a>
            <label asp-for="Email">Enter Email</label>
            <input class="form-control" asp-for="Email"/>
            <label asp-for="Password">Enter Password</label>
            <input class="form-control" asp-for="Password"/>
            <label asp-for="Remember">Remember me?</label>
            <input asp-for="Remember"/>
            <input id="inputLoginForm" class="btn btn-primary" type="submit" value="Login"/>
        </form>
    </div>
</div>
<div asp-validation-summary="All"></div>
