@model PhoneStore.ViewModels.RegisterModel

<div class="registerForm">
    <form asp-controller="Account" asp-action="Register" method="post">
        <h2>Register</h2>
        <label asp-for="Email">Enter Email</label>
        <input type="text" asp-for="Email"/>
        <label asp-for="Password">Enter Password</label>
        <input type="password" asp-for="Password"/>
        <label asp-for="ConfirmPassword">Confirm Password</label>
        <input type="password" asp-for="ConfirmPassword"/>
        <input id="inputRegisterForm" type="submit" value="Register"/>
    </form>
</div>
