input, select{
    margin-top: 5px;
}
.registerForm {
    left: 403px;
    position: absolute;
}
.loginForm {
    left: 403px;
    position: absolute;
}
.index {
    left: 365px;
    position: absolute
}
.indexComponent {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}
.pagesPhone {
    margin-left: 35px;
}
.field-validation-error, .validation-message {
    color: red;
    margin-top: 3px;
    margin-left: 5px;
}
.invalid, .input-validation-error {
    border: 1px solid red;
    background-color: #fee;
}
#accessDenied{
    margin-left: 400px;
}
li {
  list-style-type: none;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; 
}
