.registerForm {
    margin-left: 403px;
}
.registerForm *{
    display: block;
}
.loginForm {
    margin-left: 403px;
}
.loginForm *{
    display: block;
}
#inputRegisterForm{
    margin-top: 10px;
}
#inputLoginForm{
    margin-top: 10px;
}
.indexContainer {
    margin-left: 365px;
}
.indexContainer div {
    position: absolute;
}
.deleteForm{
    margin-left: 40px;
}
.deleteForm *{
    margin-top: 5px;
}
.deleteForm div {
    position: static;
}
.calc {
    margin-left: 300px;
    margin-top: 150px;
}
.calc div {
    position: static;
}
.calc * {
    margin-top: 5px;
}
.insertPhone{
    margin-left: 40px;
    margin-top: 150px;
}
.insertPhone div{
    position: static;
}
.insertPhone * {
    margin-top: 5px;
}
.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}
.field-validation-error {
    color: red;
    margin-top: 3px;
    margin-left: 5px;
}
.validation-message {
    color: red;
    margin-top: 3px;
    margin-left: 5px;
}
.invalid {
    border: 1px solid red;
    background-color: #fee;
}
#accessDenied{
    margin-left: 400px;
}
li {
  list-style-type: none;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; 
}
