.registerForm {
    margin-left: 403px;
}
.registerForm *{
    display: block;
}
.registerForm div {
    display: inline-block;
}
.loginForm {
    margin-left: 403px;
}
.loginForm *{
    display: block;
}
.loginForm div {
    display: inline-block;
}
#inputRegisterForm{
    margin-top: 10px;
}
#inputLoginForm{
    margin-top: 10px;
}
.indexContainer {
    margin-left: 365px;
}
.indexContainer div {
    position: absolute;
}
.deleteForm{
    margin-left: 40px;
}
.calc {
    margin-left: 300px;
    margin-top: 35px;
}
.insertPhone{
    margin-left: 40px;
    margin-top: 35px;
}
.calc * {
  display: block;
  margin-top: 10px;
}
.insertPhone * {
  display: block;
  margin-top: 10px;
}

#accessDenied{
    margin-left: 400px;
}
li {
  list-style-type: none;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; 
}
